.state {
    fill: #eceff1;
    stroke: #ffffff;
    cursor: pointer;
    outline: none;
  }
  
.state:hover {
    fill: #cfd8dc;
  }
  
.state.selected {
    fill: #3c3c47;
  }
 .StateMap {
    
    width:75%;
    height:auto;

  }

.Countymap{
  width:98%;
  height:auto;
}
.home {
  fill: #77779e;
    stroke: #ffffff;
    cursor: pointer;
    outline: none;
}
.home:hover {
  fill: #cfd8dc;
}

.home.selected {
  fill: #eceff1;

}